<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script>
        (function(){
            // 动态设置html字体大小
            var psdWidth = 1080; //效果图宽度
            var psdFont = 100; //效果图宽度下对应的html字体大小
            var fixRoot = function(){
                document.documentElement.style.fontSize = (document.documentElement.offsetWidth / psdWidth) * psdFont + 'px';
            };
            fixRoot();
            document.addEventListener("DOMContentLoaded", function() {
                fixRoot();
            }, false);
            window.addEventListener('resize', function(){
                fixRoot();
            }, false);
        })();
    </script>
<title>吃货群游戏</title>

    <link rel="stylesheet" type="text/css" href="/game/static/pkg/page/pickcolor/pickcolor.html_aio_56b1189.css" />
</head>
<body>
<section class="first hide" id="first">
    <h2>第一次玩请输入手机号(只需要验证一次哈)</h2>
    <div>
        <label for="phone">手机号:</label><input id="phone" type="tel" maxlength="11" placeholder="请输入手机号" /><button type="button" id="btnGetCode">获取验证码</button>
    </div>
    <div>
        <label for="code">验证码:</label><input id="code" type="tel" /><button type="button" id="btnVerify" disabled>验证</button>
    </div>
</section>
<div id="levelWrap">Level:<span id="level">0</span></div>
<div id="timeWrap">Time:<span id="time"></span>s</div>
<div id="container" class="showDiff"></div>
<p class="tips">看谁能找到最多不同颜色的方块</p>
<p id="total" class="hide">本次得分: <strong>100</strong></p>
<button type="button" id="btnStart" disabled>我要挑战</button>
<section class="list">
    <h2>排行版</h2>
    <ol id="list"></ol>
</section>
<script src="https://cdn1.lncld.net/static/js/av-mini-0.6.4.js"></script>

<script src="/game/static/lib/mod.js"></script>
<script type="text/javascript" src="/game/static/pkg/lib_57b73de.js"></script>
<script type="text/javascript" src="/game/static/pkg/page/pickcolor/pickcolor.html_aio_fdfe307.js"></script>
<script>
    require('page/pickcolor/pickcolor');
</script>
</body>
</html>