/**
 * @require app/common/common.css
 */
#container{
    clear: both;
    border: 2px solid red;
    padding: 2%;
    margin: .5rem;
}
#levelWrap{
    float: left;
    margin: .5rem;
}
#timeWrap{
    float: right;
    margin: .5rem;
}
#level,#time{
    color: red;
    font-weight: bold;
}
.tips{
    color: #ccc;
    text-align: center;
    margin: .2rem;
}
#total{
    text-align: center;
    font-size: 1.5em;
    color: #d9534f;
    margin: .2rem;
}
#total strong{
    font-size: 1.5em;
}
ol li{
    list-style-type: decimal;
    list-style-position:inside;
    line-height: 2;
}
.list{
    border-top: 2px solid #ccc;
    padding: .5rem;
    margin: .5rem 0;
}
.list strong{
    margin: 0 .5em;
    color: red;
    font-size: 1.2em;
}
.first{
    border-bottom: 2px solid #ccc;
    padding: 2em;
    background: #ddd;
}
.first div{
    margin: 1em 0;
}
.first input{
    border: 1px solid #ccc;
    height: 1.5em;
}
#btnStart{
    display: block;
    width: 8em;
    height: 3em;
    margin: 0 auto;
}
.myself{
    background: #ddd;
}